.cart {
    padding: 2rem 0;
}

.cart h2 {
    text-align: center;
    font-size: 2.5rem;
}

.container {
    width: 55%;
    padding: 2rem 0;
    margin: auto;
}

.cart>p {
    font-size: 2rem;
    text-align: center;
}

.cart>button {
    display: block;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: all 0.5s linear;
    background-color: #fff;
    margin: 1rem auto;
}

.cart>button:hover {
    color: #fff;
}

.clear {
    color: #c60707;
    outline: 1px solid #c60707;
}

.clear:hover {
    background-color: #c60707;
}

.backToShopping {
    color: #000;
    outline: 1px solid #000;
}

.backToShopping:hover {
    background-color: #000;
}