.product {
    width: 250px;
    height: 400px;
    overflow: hidden;
}

.img_box {
    width: 100%;
    height: 80%;
    cursor: pointer;
}

.img_box img {
    width: 100%;
    height: 100%;
}

.btn{
    font-size: 0;
    padding: 0 0.3rem;
    border-radius: 0;
    transition: all 1s linear;
}

.img_box:hover .btn{
    font-size: 1.5rem;
}

.details_box {
    height: 20%;
}
